tqdm
marker-pdf
langchain
langchain_text_splitters
langchain-community
transformers
sentence-transformers
langchain_huggingface
chromadb
langchain-chroma
openai
minsearch
psycopg2
llama_index
llama_index.embeddings.huggingface
llama-index-vector-stores-postgres
streamlit
langchain-openai